<div class="main-container">
  <div class="row align-middle">
    <div class="small-6 small-centered columns">
      <div class="expanded button hollow">Hello</div>
      <div class="expanded button hollow">Hello</div>
      <div class="expanded button hollow">Hello</div>
    </div>
  </div>
</div>
