<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Greetings</title>

    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>

    <%= yield %>

    <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script src="/javascripts/bundle.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
